* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(1, 1, 1);
    background: linear-gradient( 144deg, rgba(1, 1, 1, 1) 0%, rgba(13, 228, 157, 1) 0%, rgba(13, 228, 157, 1) 36%, rgba(41, 189, 207, 1) 59%);
    color: black;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.title h1 {
    background: rgb(138, 102, 211);
    background: linear-gradient( 144deg, rgba(138, 102, 211, 1) 8%, rgba(226, 13, 228, 1) 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.title .text_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_container .text {
    padding: 25px;
    font-size: 2vw;
    font-weight: bold;
    background-color: white;
    color: grey;
    margin: 10px;
    border-radius: 2rem;
}

.timer {
    margin: 30px;
    font-size: 1.5vw;
    font-weight: bold;
}

.timer button {
    padding: 10px;
    border: 1px solid black;
    font-size: 1.5vw;
    outline: none;
    border-radius: 0.3rem;
    background: rgb(13, 228, 186);
    background: linear-gradient( 144deg, rgba(13, 228, 186, 1) 0%, rgba(13, 228, 157, 1) 36%, rgba(41, 189, 207, 1) 96%);
    cursor: pointer;
}

.restart {
    text-align: center;
    width: 100%;
    display: none;
}

.restart button {
    padding: 10px;
    border: 1px solid black;
    font-size: 2vw;
    outline: none;
    border-radius: 0.3rem;
    background: rgb(13, 228, 186);
    background: linear-gradient( 144deg, rgba(13, 228, 186, 1) 0%, rgba(13, 228, 157, 1) 36%, rgba(41, 189, 207, 1) 96%);
    cursor: pointer;
}

.type_container {
    margin: 20px;
}

.type_container input {
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    color: black;
    font-size: 32px;
    text-align: center;
}

.correctText {
    color: blue;
}

.incorrectText {
    color: red;
    text-decoration: underline;
}

@media only screen and (max-width: 375px) {
    .text_container .text,
    .timer,
    .timer button {
        font-size: 4.5vw;
    }
    .type_container input {
        font-size: 20px;
    }
    .title h1 {
        font-size: 28px;
    }
}